/* Universal styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding and border included in the width and height */
}

body {
    font-family: 'Neucha', cursive;
    background-color: #F8F8FF;
    color: #F8F8FF;
    padding: 20px;
}

.game {
    width: 750px;
    height: 650px;
    background-color: #61988E;
    margin: 0 auto;
    border-radius: 15px;

    &__heading {
        text-align: center;
        padding: 10px;
    }

    &__board {
        border-radius: 15px;
        background-color: #684551;
        width: 90%;
        margin: 0 auto;
    }

    &__row {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__card {
        width: 100px;
        height: 100px;
        margin: 20px auto;
        position: relative;
        transition: transform .5s;

        &--front {
            background-color: #F17105;
            width: 100px;
            height: 100px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 3px;
        }

        &--back {
            background-color: #228B22;
            width: 100px;
            height: 100px;
            border-radius: 3px;
        }

        &:hover {
            transform: rotate(3deg) scale(1.05);
        }
    }
}

.game__card--showAnimal  {
    .game__card--front {
        display: none;
    }
}

.game__card--hideAnimal  {
    .game__card--front {
        opacity: 1;
    }
}